<!DOCTYPE html>
<html lang="en">
<head>
    <style>
         button {
  background-color: #c4c2c2; 
  color: rgb(0, 0, 0);              
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
    </style>
    <font size="10" face="Arial"><b>Productos</b></font>
</head>
<body>
    <font face="Arial">
 <table width="100%">
        <tr>
            <td align="right"><button><font size="6"><a href="./menuRevisarStock.html"> Revisar stock</a></font></button></td>
        </tr>
        
    </table>

    <table border="2" cellpadding="5" align="center" width="80%">
        <tr>
            <td align="center">
                <h3>Proteína Whey.</h3>
                <img src="img/img/proteinawhey.png" alt="Proteína Whey" width="120">
                <p>Q. 500.00</p>
            </td>
            <td align="center">
                <h3>Proteína ISO.</h3>
                <img src="img/img/proteinaiso.png" alt="Proteína ISO" width="120">
                <p>Q. 750.00</p>
            </td>
            <td align="center">
                <h3>Creatina Monohidratada</h3>
                <img src="img/img/creatina.png" alt="Creatina Monohidratada" width="120">
                <p>Q. 300.00</p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <h3>Preentreno PSYCOTHIC</h3>
                <img src="img/img/pre.png" alt="Preentreno PSYCOTHIC" width="120">
                <p>Q. 520.00</p>
            </td>
            <td align="center">
                <h3>Camisa con logo</h3>
                <img src="img/img/camisa.png" alt="Camisa con logo" width="120">
                <p>Q. 100.00</p>
            </td>
            <td align="center">
                <h3>Pachón con logo</h3>
                <img src="img/img/pachon.png" alt="Pachón con logo" width="120">
                <p>Q. 60.00</p>
            </td>
        </tr>
    </table>
    </font>
</body>
</html>